//COLORS 

$color1: #fff;
$color2: #AD384C;
$color3: #CFA597;
$color4: #80655D;
$color5: #1C1012;
$color6: #8DA4A6;

//BREAKPOINTS

$breakpoints: (xs: 475px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px);